<h3>
  What is your relation to the patient?
</h3>

<div class="btn-choices row">
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'High Street Dentist'">
      High Street Dentist
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'Primary Care'">
      Primary Care
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'School'">
      School
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'Informal Carer'">
      Informal Carer
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'Formal Carer'">
      Formal Carer
    </button>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-lg btn-default" ng-model="editing.relationship" btn-radio="'Other'">
      Other
    </button>
  </div>
</div>
